html {
  /* background-color: darkorchid; */
  background-color: #111;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calc-body {
  --radius: 20px;
  --border: 10px;
  border-radius: calc(var(--radius) + var(--border));
  border: 9px solid black;
  background: rgb(2, 103, 143);
  background: radial-gradient(
    circle,
    rgba(2, 103, 143, 1) 50%,
    rgba(18, 48, 130, 1) 100%
  );
  margin: auto;
  width: 600px;
  height: 800px;
  display: grid;
}

#screen {
  background-color: rgb(205, 205, 205);
  height: 200px;
  /* width: 580px; */
  /* position: fixed; */
  margin: var(--border);
  border-radius: var(--radius);
  border: 7px solid black;
  font-size: 3em;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

#screen-text {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

#buttons-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: baseline;
}

.buttons {
  margin: auto;
  margin-top: -105px;
}

.btn-tall {
  position: absolute;
  height: 221px;
  margin-top: -54px;
}
.btn-wide {
  position: absolute;
  width: 293px;
  height: auto;
}
#btn-decimal {
  position: absolute;
  height: auto;
  translate: 148px;
}

#btn-sqrt {
  font-size: 70px;
  height: 104px;
  width: 144px;
}

button {
  background-color: rgb(235, 235, 235);
  color: rgb(40, 40, 40);

  width: 1.8em;
  height: 35%;
  border: 5px solid black;
  border-radius: var(--radius);
  /* border: 1px solid grey;
  border-radius: 7px; */
  transition: transform 0.1s;
  font-size: 5em;
}

button:active {
  transform: scale(0.97);
}

button:hover {
  cursor: pointer;
}

.btn-empty {
  display: none;
}
